<ng-container *ngIf="products.length != 0">
    <div class="container">
    <div class="card-table">
        <div class="cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let productItem of products; let i = index">
                       <td>{{i+1}}</td>
                       <td>{{productItem.title}}</td>
                       <td><img style="width: 120px;" src="{{productItem.image}}"></td>
                       <td style ="width: 25%;">{{productItem.description}}</td>
                       <td style ="width: 12%">{{productItem.price | currency: 'EUR'}}</td>
                        <td style ="width: 12%">
                          <i (click)="decrementQty(productItem)" class="fa fa-minus-square"></i> 
                          {{productItem.quantity}}
                          <i (click)="incrementQty(productItem)" class="fa fa-plus-square"></i> 
                          </td>
                        <td style ="width: 12%">{{(productItem.total * productItem.quantity) | currency:'EUR'}}</td>
                        <td>
                            <button (click)="removeItem(productItem)" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" > </td>
                            <td><button (click)="emptyCart()" class="btn btn-danger">Empty Cart</button></td>   
                            <td><button routerLink="/products-list" class="btn btn-secondary">Shop More</button></td> 
                            <td><button class="btn btn-success" (click)="checkout()">Checkout</button></td> 
                            <td><strong>Grand Total: {{grandTotal | currency:'EUR'}} </strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</ng-container>


<ng-container *ngIf="products.length == 0" >
    <div class="container">
    <div class="card-empty-cart">
        <h5 class="card-title">My cart</h5>
    </div>
    <div class="center">
        <img src="/../assets/images/shop-more.png" alt="">
        <h4>Your cart is empty</h4>
        <h6>Add item to it now</h6>
        <button class="btn-shop" routerLink="/products-list">Shop now</button>
    </div>
</div>

</ng-container>