
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     transition: 0.6s;
     padding: 1px 100px;
     background-color: rgba(121,132,78,0.9);
     z-index: 100000;
}

nav .logo{
    position:relative;
    font-weight: 700;
    color:#d1d5af;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    position: relative;
    list-style: none;
    --c: rgba(201,203,153,255);    
    color: var(--c);
    font-size: 16px;
    border: 0.2em solid var(--c);
    border-radius: 0.5em;
    width: 8em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 2.6;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}
nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}
nav ul li a:hover {
    color: #3a5128;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}

nav ul li a{
     position: relative;
    // margin: 0 15px;
     text-decoration: none;
     letter-spacing: 2px;
     font-weight: 500px;; 
     color: #d1d5af;
     transition: 0.6s;
}

h4{
    font-size: 25px;
    font-weight: bold;
}
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }

  .bi-cart3{
    background-color: transparent;
    border: none;
    color: #d1d5af;
    width:50px;
    position: absolute;
    right: 15px;
    top:15px;
}

.searchBox {
    position: absolute;
    left: 24%;
    //transform:  translate(-50%,50%);
    background:  #d1d5af;
    height: 40px;
    border-radius: 40px;
     //padding: 10px;

}
.searchBox:hover > .searchInput {
    width: 260px;
    padding: 0 6px;
}

.searchButton {
     color: rgba(121,132,78,0.7);
     width: 35px;
     height: 35px;
     background:  transparent;
     justify-content: center;
     align-items: center;
     transition: 0.4s;
     border: transparent;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0px;
    color: #6e5531;   
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}

 .menu-bar {
    ul {
      list-style-type: none;
      top:82px;
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.6s;
      padding: 1px 100px;
      background-color: rgba(0, 0, 0, .4);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      z-index: 100000;
       left: 0;
  
 }
       li {
        float: left;
      }
      
      li a {
        display: block;
        color: rgb(31, 8, 8);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: rgba(58,81,40, .3);
        -webkit-backdrop-filter: blur(10px);
         backdrop-filter: blur(10px);
        border-radius: 0.5em;

      }
    }
