.container{
   // margin-top: 200px;
    width: 1200px;
    background-color: rgba(0, 0, 0, .4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 2em;
}

.productsrow{
     display: flex;
     align-items: center;
}
