
  <div class="card mb-4">
    <img class="bd-placeholder-img card-img-top " width= "100%"
    [src]="productItem.image">
    <div class="card-body">
      <h5 class="card-title">{{productItem.title}}</h5>
      <p class="card-description">{{productItem.description}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button class="add-btn">Add to cart</button>
          <button class="details-btn">View details</button>
        </div>
        <strong>{{productItem.price | currency:'EUR'}}</strong>
      </div>
    </div>
  </div>
