.card{

    background-color: #ffffff;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 0.9em;
}

.card-title, .card-description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}

.card img {
    width: 200px;
    height: 200px;
    margin-left: 75px;
    margin-top: 15px;
    transition: 0.3s;
}

.card img:hover{
    transition: 0.3s;
    transform: scale(1.1);
}
 
.add-btn{
    background-color: #3a5128;
    color: white;
     border: 2px solid #3a5128; 
     transition: 0.4s;
     padding: 6px 10px;
     font-weight: 500;
}
.add-btn:hover{
    background-color: transparent ;
    color: black;
}

.details-btn{
    background-color: transparent;
    border: 2px solid #3a5128;
    color: #3a5128;
    font-weight: 400;
    transition: 0.4s;
}
.details-btn:hover{
    background-color: #7e8d71;
    border: 2px solid #7e8d71;
    color: white;
}